venv38
venv36
logs
.idea
_package.cmd
RemoteVP_panel.ahk
apps/common/__pycache__/
apps/vserial/__pycache__/
bases/__pycache__/
config.ini
cores/__pycache__/
cores/log/__pycache__/
cores/mqttbroker/__pycache__/
cores/mqttc/__pycache__/
dist/
helper/__pycache__/
html/static/fonts/
nssm_service.exe
vnet/
venv36/
vserial/
logs/
RemoteVP-Npc.spec
__pycache__/
_compile_to_exe.cmd
start.sh
